{% extends "account/base.html" %}
{% laod crispy_forms_tags %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

<div class="login-bg">

    <section class="login-section ">
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5 welcome-text">
            <h2 class="heading-section text-white ">Welcome To <strong >CUK ONLINE</strong> </h2>
        </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-7 col-lg-5">
            <div class="login-wrap p-4 p-md-5">

                <div
                    class="icon d-flex align-items-center justify-content-center">
                    <i class="user outline icon"></i>
                </div>

                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Set Password' %}" />
                </form>

            </div>
        </div>
        </div>
    </div>
    </section>
</div>
{% endblock %}