{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <div class="login-bg">

        <section class="login-section ">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5 welcome-text">
                <h2 class="heading-section text-white ">Welcome To <strong >CUK ONLINE</strong> </h2>
            </div>
            </div>
            <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="login-wrap p-4 p-md-5">
    
                <div
                    class="icon d-flex align-items-center justify-content-center"
                >
                    <i class="user outline icon"></i>
                </div>
    
                <h1 class="text-center mb-4">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}

                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
                </p>

                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" class="btn btn-primary w-50" value="{% trans 'Reset My Password' %}" />
                </form>
                <br>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your
                    password.{% endblocktrans %}</p>
    
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
{% endblock %}